body {
    background-color: #5e0808;
    text-align: center;
    vertical-align: middle;
    margin-top: 10%;
    color: #fadc94;
    font-family: 'Russo One', sans-serif;
    text-shadow:
    3px  3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}
#waiting_title {
    font-size: 5vw;
    margin: auto;
}

#voting_title {
    font-size: 5vw;
    margin: auto;
}

.dead {
    text-decoration: line-through;
}