body {
    background-color: #5e0808;
    text-align: center;
    vertical-align: middle;
    margin-top: 10%;
    color: #fadc94;
    font-family: 'Russo One', sans-serif;
    font-size: 6vh;
    text-shadow:
    3px  3px 0 #000,
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.star {
    margin: auto;
    margin-top: 3vw;
    top:0;
    left:0;
    width:20vw;
    height:20vw;
    animation:rotate 5s infinite linear;
    background:url('../../../assets/star.svg');
}

@keyframes rotate {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

