body {
    background-color: #132056;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    background-image: url('../../../assets/gulag.bmp');
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
    vertical-align: middle;
    color: #c4c4c4;
    font-family: 'Russo One', sans-serif;
    font-size: 6vh;
    text-shadow:
    3px  3px 0 #000,
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

div {
    height: 100%;
}