body {
    background-image: url(../../../assets/bg03.png);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #5e0808;
    text-align: center;
    vertical-align: middle;
    margin-top: 10%;
    color: #fadc94;
    font-family: 'Russo One', sans-serif;
    font-size: 5vh;
    text-shadow:
    3px  3px 0 #000,
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}
#players {
    column-count: 2;
    column-gap: 2px;
}
.voting_button {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: 2px;
	box-shadow:inset 0px 34px 0px -15px #fadc94;
	background-color:#9b9063;
	border:1px solid #000000;
	color:#FFFFFF;
	font-family:'Russo One', sans-serif;
	font-size:5vh;
	font-weight:bold;
	padding:8px 13px;
    text-shadow:
    3px  3px 0 #000,
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
	}
.voting_button:hover {
	background-color:#524834;
}
.votingd_button:active {
	position:relative;
	top:1px;
}
